<h1>All Lists</h1>
<div>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, show_path(list.id) %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to 'Create a new list', lists_new_path %></p>
